* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(29, 27, 34);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.inputNum {
  padding: 10px 2px;
  font-size: large;
}

.applyBtn {
  padding: 10px;
  color: white;
  font-size: medium;
  background-color: rgb(41, 31, 66);
  border: none;
  cursor: pointer;
}

.applyBtn:hover {
  background-color: rgb(81, 63, 99);
}

.progress-bar {
  height: 30px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding: 2px;
}

.progress-bar-fill {
  border-radius: 5px;
  height: 100%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

a {
  font-size: large;
  font-weight: 600;
  color: rgb(12, 3, 12);
}
